/* thanks to https://stackoverflow.com/a/69000885 */
.container {
    margin: 0 auto;
    text-align:center;
    overflow: auto;
    white-space: nowrap;
    bottom: 0;
    position: fixed;
}

.box {
    display: inline-block;
}