/*!!  TODO PASSAR O QUE ESTA A SER USADO NO 98.CSS (button, CLASSES, ETC) PARA AQUI DE MODO A DEIXAR DE FICAR GLOBAL*/
/*.button,
.title-bar {
    font-family: "Pixelated MS Sans Serif", Arial;
    -webkit-font-smoothing: none;
    font-size: 11px;
}
.title-bar {
    background: linear-gradient(90deg,
            var(--dialog-blue),
            var(--dialog-blue-light));
    padding: 3px 2px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-bar.inactive {
    background: linear-gradient(90deg,
            var(--dialog-gray),
            var(--dialog-gray-light));
}

.title-bar-text {
    font-weight: bold;
    color: white;
    letter-spacing: 0;
    margin-right: 24px;
}

.title-bar-controls {
    display: flex;
}

.title-bar-controls .button {
    padding: 0;
    display: block;
    min-width: 16px;
    min-height: 14px;
}

.title-bar-controls .button:active {
    padding: 0;
}

.title-bar-controls .button:focus {
    outline: none;
}

.title-bar-controls .button[aria-label="Minimize"] {
    background-image: url("../../98css/icon/minimize.svg");
    background-repeat: no-repeat;
    background-position: bottom 3px left 4px;
}

.title-bar-controls .button[aria-label="Maximize"] {
    background-image: url("../../98css/icon/maximize.svg");
    background-repeat: no-repeat;
    background-position: top 2px left 3px;
}

.title-bar-controls .button[aria-label="Restore"] {
    background-image: url("../../98css/icon/restore.svg");
    background-repeat: no-repeat;
    background-position: top 2px left 3px;
}

.title-bar-controls .button[aria-label="Help"] {
    background-image: url("../../98css/icon/help.svg");
    background-repeat: no-repeat;
    background-position: top 2px left 5px;
}

.title-bar-controls .button[aria-label="Close"] {
    margin-left: 2px;
    background-image: url("../../98css/icon/close.svg");
    background-repeat: no-repeat;
    background-position: top 3px left 4px;
}*/

.root {
    /* Color */
    --text-color: #222222;
    --surface: #c0c0c0;
    --button-highlight: #ffffff;
    --button-face: #dfdfdf;
    --button-shadow: #808080;
    --window-frame: #0a0a0a;
    --dialog-blue: #000080;
    --dialog-blue-light: #1084d0;
    --dialog-gray: #808080;
    --dialog-gray-light: #b5b5b5;
    --link-blue: #0000ff;

    /* Spacing */
    --element-spacing: 8px;
    --grouped-button-spacing: 4px;
    --grouped-element-spacing: 6px;
    --radio-width: 12px;
    --checkbox-width: 13px;
    --radio-label-spacing: 6px;
    --range-track-height: 4px;
    --range-spacing: 10px;

    /* Some detailed computations for radio buttons and checkboxes */
    --radio-total-width-precalc: var(--radio-width) + var(--radio-label-spacing);
    --radio-total-width: calc(var(--radio-total-width-precalc));
    --radio-left: calc(-1 * var(--radio-total-width-precalc));
    --radio-dot-width: 4px;
    --radio-dot-top: calc(var(--radio-width) / 2 - var(--radio-dot-width) / 2);
    --radio-dot-left: calc(-1 * (var(--radio-total-width-precalc)) + var(--radio-width) / 2 - var(--radio-dot-width) / 2);

    --checkbox-total-width-precalc: var(--checkbox-width) + var(--radio-label-spacing);
    --checkbox-total-width: calc(var(--checkbox-total-width-precalc));
    --checkbox-left: calc(-1 * var(--checkbox-total-width-precalc));
    --checkmark-width: 7px;
    --checkmark-top: 3px;
    --checkmark-left: 3px;

    /* Borders */
    --border-width: 1px;
    --border-raised-outer: inset -1px -1px var(--window-frame),
        inset 1px 1px var(--button-highlight);
    --border-raised-inner: inset -2px -2px var(--button-shadow),
        inset 2px 2px var(--button-face);
    --border-sunken-outer: inset -1px -1px var(--button-highlight),
        inset 1px 1px var(--window-frame);
    --border-sunken-inner: inset -2px -2px var(--button-face),
        inset 2px 2px var(--button-shadow);

    /* Window borders flip button-face and button-highlight */
    --border-window-outer: inset -1px -1px var(--window-frame),
        inset 1px 1px var(--button-face);
    --border-window-inner: inset -2px -2px var(--button-shadow),
        inset 2px 2px var(--button-highlight);

    /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
    --border-field: inset -1px -1px var(--button-highlight),
        inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face),
        inset 2px 2px var(--window-frame);

    /* Tabs */
    --border-tab: inset -1px 0 var(--window-frame),
        inset 1px 1px var(--button-face),
        inset -2px 0 var(--button-shadow),
        inset 2px 2px var(--button-highlight)
}

.body98 {
    font-family: Arial;
    font-size: 12px;
    color: var(--text-color);
}
.button98,
.label98,
.input98,
.textarea98,
.select98,
.option98,
.table98,
.ul_tree-view98,
.window98,
.title-bar98 {
    font-family: "Pixelated MS Sans Serif", Arial;
    -webkit-font-smoothing: none;
    font-size: 11px;
}

.h198 {
    font-size: 5rem;
}

.h298 {
    font-size: 2.5rem;
}

.h398 {
    font-size: 2rem;
}

.h498 {
    font-size: 1.5rem;
}

.u98 {
    text-decoration: none;
    border-bottom: 0.5px solid #222222;
}

.button98,
.input98[type="submit"],
.input98[type="reset"] {
    box-sizing: border-box;
    border: none;
    color: transparent;
    text-shadow: 0 0 var(--text-color);
    background: var(--surface);
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
    border-radius: 0;

    min-width: 75px;
    min-height: 23px;
    padding: 0 12px;
}

.vertical-bar98 {
    width: 4px;
    height: 20px;
    background: #c0c0c0;
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
}

.button98:not(:disabled):active,
.input98[type="submit"]:not(:disabled):active,
.input98[type="reset"]:not(:disabled):active {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    text-shadow: 1px 1px var(--text-color);
}

@media (not(hover)) {

    .button98:not(:disabled):hover,
    .input98[type="submit"]:not(:disabled):hover,
    .input98[type="reset"]:not(:disabled):hover {
        box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    }
}

.button98:focus,
.input98[type="submit"]:focus,
.input98[type="reset"]:focus {
    outline: 1px dotted #000000;
    outline-offset: -4px;
}

button98::-moz-focus-inner,
input98[type="submit"]::-moz-focus-inner,
input98[type="reset"]::-moz-focus-inner {
    border: 0;
}

:disabled,
:disabled+label,
input[readonly],
input[readonly]+label {
    color: var(--button-shadow);
}

.button98:disabled,
.input98[type="submit"]:disabled,
.input98[type="reset"]:disabled,
:disabled+label {
    text-shadow: 1px 1px 0 var(--button-highlight);
}










.App {
    background-color: #6d0175c3/*#282c34*/;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
    background-image: url('/images/bliss_high_res.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.App-header {
    text-align: center;
}